modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Start Backend"
author = 43942118
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm start"

[[workflows.workflow]]
name = "Start Frontend"
author = 43942118
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 43942118
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"
